.navbar {
  margin: 0;
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 83rem;
  margin: 0 auto;
  padding: 0;
}

.logo {
  width: 100%;
  --logo-width: 130px;
  height: 90%;
  margin-left: 0.5rem;
  max-width: var(--logo-width);
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  --nav-item-margin-bottom: 0.5rem;
  margin-bottom: var(--nav-item-margin-bottom);
}

.nav-link {
  --nav-link-color: #ffffff;
  --nav-link-font-size: 1.4rem;
  --nav-link-padding: 0.5rem;
  color: var(--nav-link-color) !important;
  font-weight: bold;
  font-size: var(--nav-link-font-size);
  padding: var(--nav-link-padding);
  margin-right: 1rem;
}

.nav-link:hover,
.nav-link.active {
  --nav-link-hover-bg-color: #ee390c;
  color: var(--navbar-bg-color);
  background-color: var(--nav-link-hover-bg-color);
  border-radius: 4px;
}


.login-btn {
  margin-left: 0.5rem;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 25rem;
  }
  .nav-link:hover,
.nav-link.active {
  --nav-link-hover-bg-color: #ee390c;
  margin-right: 27rem; }
  .navbar-toggler {
    padding: 1rem;
    width: 4rem;
    margin-right: 2rem;
}
.logo {
  margin-left: 0.5rem;
}
.nav-item {
  margin-left: 0.5rem;
}
}