.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: 1800%;
    margin: 0 auto;
  }
  
  .logo {
    width: 10%;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 29%;
      max-width: 100%;
    }
  }
  
  .navbar-collapse {
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-collapse.center {
    justify-content: center;
  }
  
  .navbar-collapse.show {
    transform: translateY(0);
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar-nav li {
    transition: all 0.3s ease-in-out;
    margin-right: 3rem;
  }
  
  .navbar-toggler {
    width: 15%;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar-toggler-icon {
    width: 100%;
    text-align: center;
  }
  
  .navbar-toggler-icon::after {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggler:hover .navbar-toggler-icon::after {
    transform: rotate(45deg);
  }
  
  .navbar-toggler.opened .navbar-toggler-icon::after {
    transform: rotate(0);
  }
  
  .navbar-toggler-container {
    width: 100%;
  }
  
  .nav-link {
    color: #ff3c0b !important;
    font-weight: bold;
    font-size: 1.6rem;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
  }