.body {
  background-image: url('https://images.pexels.com/photos/2339180/pexels-photo-2339180.jpeg');
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

.card {
  width: 20rem;
  height: 20rem;
  margin: 0.5rem auto;
  border-radius: 15% / 15%
}

.card-body {
  padding: 1.5rem;
}

.card-img-top {
  height: 8rem;
  object-fit: cover;
  object-position: center;
}

.card + .card {
  margin-top: 1rem;
}

.button-padding {
  padding-bottom: 50%;
}

.row-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.row-cols-md-3 {
  grid-template-columns: repeat(3, 1fr);
}